openapi: 3.0.0
info:
  title: UBL Invoice API
  version: 1.0.0
  description: A comprehensive API for generating, managing, and processing UBL invoices
  contact:
    name: M13A_Guard011
    url: https://github.com/iamAmiK/UBL-API-documentation

servers:
  - url: https://iamamik710-bvpzkbif.leapcell.dev/
    description: Production Server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication

  schemas:
    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        invoiceNumber:
          type: string
        buyerName:
          type: string
        sellerName:
          type: string
        totalAmount:
          type: number
        currency:
          type: string
        issueDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        xmlContent:
          type: string

    ApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyName:
          type: string
        contactEmail:
          type: string
        active:
          type: boolean
        createdAt:
          type: string
          format: date-time

paths:
  /:
    get:
      summary: API Health Check and Welcome Page
      responses:
        '200':
          description: Welcome page successfully retrieved
          content:
            text/html:
              schema:
                type: string

  /api/apikey/generate:
    post:
      summary: Generate a new API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                companyName:
                  type: string
                contactEmail:
                  type: string
                  format: email
      responses:
        '201':
          description: API key generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  apiKey:
                    type: string

  /api/apikey/details:
    get:
      summary: Get API key details
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: API key details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    $ref: '#/components/schemas/ApiKey'

  /api/invoice/generate:
    post:
      summary: Generate an invoice from order XML
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
      responses:
        '201':
          description: Invoice generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  invoiceId:
                    type: string
                  invoiceXml:
                    type: string

  /api/invoice/validate:
    post:
      summary: Validate invoice XML
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
      responses:
        '200':
          description: Invoice validation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  errors:
                    type: array
                    items:
                      type: string
                  warnings:
                    type: array
                    items:
                      type: string

  /api/invoice:
    get:
      summary: Get all invoices for the current user
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of invoices retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'

  /api/invoice/{id}:
    get:
      summary: Get a specific invoice by ID
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    $ref: '#/components/schemas/Invoice'

    delete:
      summary: Delete a specific invoice by ID
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  invoiceId:
                    type: string

  /api/invoice/{id}/pdf:
    get:
      summary: Download invoice as PDF
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: PDF invoice downloaded successfully
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /api/invoice/{id}/translate:
    post:
      summary: Translate invoice to another language
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_language:
                  type: string
                  enum: 
                    - english
                    - spanish
                    - french
                    - italian
                    - hindi
                    - japanese
                    - chinese
      responses:
        '201':
          description: Invoice translated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  originalInvoiceId:
                    type: string
                  translatedInvoiceId:
                    type: string

  /api/invoice/{id}/email:
    post:
      summary: Email a single invoice
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipient_email:
                  type: string
                  format: email
                custom_message:
                  type: string
      responses:
        '200':
          description: Invoice emailed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  emailInfo:
                    type: object
                    properties:
                      messageId:
                        type: string
                      recipient:
                        type: string
                      invoiceNumber:
                        type: string

  /api/invoice/email/batch:
    post:
      summary: Email multiple invoices
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                recipient_email:
                  type: string
                  format: email
                custom_message:
                  type: string
      responses:
        '200':
          description: Invoices emailed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  emailInfo:
                    type: object
                    properties:
                      messageId:
                        type: string
                      recipient:
                        type: string
                      invoiceCount:
                        type: integer
                      invoiceNumbers:
                        type: array
                        items:
                          type: string
